@import "tailwindcss";

:root {
  --background: #FFF2D8;
  --foreground: #171717;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Medium.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bemirs';
  src: url('../fonts/bemirs-font_135/BemirsDemoVersionRegular.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  
}

h1 , h2, h3{
  font-family: 'Bemirs', sans-serif;
}

p, span, a{
  font-family: 'Gilroy', sans-serif;
}



