@import "tailwindcss";

:root {
  --background: #FFF2D8;
  --foreground: #171717;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bemirs';
  src: url('../fonts/bemirs-font_135/BemirsDemoVersionRegular.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Oculta scrollbars mas mantém o scroll funcional */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


body {
  width: 100vw;
  height: 100vh;
  background: #FFF2D8;
  color: var(--foreground);
  overflow-x: hidden;
}

h1 , h2, h3{
  font-family: 'Bemirs', sans-serif;
}

p, span, a{ 
  font-family: 'Gilroy', sans-serif; 
}